.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://st4.depositphotos.com/4315033/21978/v/450/depositphotos_219787618-stock-illustration-back-school-doodle-seamless-pattern.jpg");
    background-position: 100%;
    width: 100%;
    height: 100vh;
}

.cardCentral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    width: 39rem;   
    height: 34rem;  
    border: 2px solid black;
}


.cardCentral h2, .cardCentral h3 {
    font-size: 0.9rem;
}


.cardCentral h4 {
    width: 30rem;
    font-size: 0.9rem;
}


.avatar {
    border-radius: 50%;
    border: 2px solid black;
}